@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');
@import 'theme.css';
@import 'base.css';
@import 'layout.css';
@import 'slides.css';
@import 'content.css';
@import 'frames.css';
@import 'components.css';
@import 'animations.css';

